header {
    background-color: #0be428;
    color: #fff;
    padding: 10px 0;
    font-family: 'PT Sans', sans-serif;
}

nav ul {
    list-style: none;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: rgb(10, 204, 139);
    
}

nav li {
    margin: 0 20px;
    
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
    padding: 10px;
    
}

nav a:hover {
    color: #ff9900;
}

footer {
    color: #fff;
    text-align: center;
    padding: 10px 0;
    background-color:  rgb(10, 204, 139);
    font-family: 'Roboto Condensed', sans-serif;
}

main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    font-family: 'PT Sans', sans-serif;
}

section {
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
}

.main-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
}

.section-container {
    position: relative;
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
}
.imagen-fondo {
    background-image: url(img/hermosogatito.jpg);
    background-size: cover; /* Otra opción: contain */
    background-repeat: no-repeat;
    background-position: center; /* Ajustar la posición a la parte cent*/
    opacity: 0.5;
}